.App {
  /*  */
  text-align: center;
  flex: 1;
  margin-top: 20px;
  vertical-align: middle;
  line-height: 100px;
}

.AppHeader {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-spin infinite 20s linear;
    width: 45vw;
    border-radius: 50%;
    height: auto;
    object-fit: cover;
  }
}

.AppHeader {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
